html,
A {text-decoration: none;}
body {
    height: 100%;
}

* {
    margin: 0;

}

body {
    background-color: white;
    overflow: hidden;

}

.container {
  position: absolute;
  display: inline-block;
  /* background-color: lightpink; */
  overflow-wrap: normal;
  padding: 15px;
  width: 38%;
  height: 350px;
  margin-left: 0px;
  margin-top: 0px;
  z-index: 4;
  font-size: 3em;
  font-family: Taviraj;
  color: black;
  z-index: 2;
  overflow-wrap: normal;
  line-height: 110%;
}

.inittext {
  position: absolute;
  display: inline-block;
  /* background-color: lightblue; */
  overflow-wrap: normal;
  padding: 15px;
  width: 38%;
  height: 390px;
  margin-left: 0px;
  margin-top: 355px;
  z-index: 4;
  font-size: 13px;
  font-family: Times;
  color: black;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 4;
}

/* .book1 {
  position: absolute;
  display: inline-block;
  width: 20%;
  margin-left: 0%;
  margin-top: 6%;
  z-index: 2;
}

.book1 img{
  position: absolute;
  display: inline-block;
  width: 170%;
} */


.gut {
  position: absolute;
  display: inline-block;
  width: 20%;
  margin-left: 80%;
  margin-top: 26%;
  z-index: 2;
}

.gut img{
  position: absolute;
  display: inline-block;
  width: 100%;
}




.read {
  float: none;
  position: absolute;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin-left: 75%;
  margin-top: 0%;
  font-size: 7em;
  font-family: Akzidenz-Grotesk Pro;
  color: black;
  /* background-color: lightpink; */
  /* -webkit-text-stroke: 5px black; */
  z-index: 1;

}

.books {
  float: none;
  position: absolute;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin-left: 75%;
  margin-top: 6%;
  font-size: 4em;
  font-family: Akzidenz-Grotesk Pro;
  color: black;
  /* background-color: lightpink; */
  /* -webkit-text-stroke: 5px black; */
  z-index: 1;

}


.faster {
  float: none;
  position: absolute;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin-left: 75%;
  margin-top: 10%;
  font-size: 6em;
  font-family: Akzidenz-Grotesk Pro;
  color: black;
  /* background-color: lightpink; */
  /* -webkit-text-stroke: 5px black; */
  z-index: 1;

}

.with {
  float: none;
  position: absolute;
  display: inline-block;
  text-align: justify;
  width: 20%;
  height: 100%;
  margin-left: 60%;
  margin-top: 7%;
  font-size: 7em;
  font-family: Taviraj;
  color: black;
  /* background-color: lightpink; */
  /* -webkit-text-stroke: 5px black; */
  z-index: 1;

}

.highlighter {
  float: none;
  position: absolute;
  display: inline-block;
  text-align: justify;
  width: 20%;
  height: 100%;
  margin-left: 80%;
  margin-top: 7%;
  font-size: 7em;
  font-family: Taviraj;
  color: black;
  /* background-color: lightpink; */
  /* -webkit-text-stroke: 5px black; */
  z-index: 1;

}

/* .button {
  float: none;
  position: absolute;
  display: inline-block;
  text-align: center;
  width: 400px;
  height: 50px;
  margin-left: 2%;
  margin-top: 2%;
  font-size: 1em;
  font-family: Adieu;
  color: yellow;
  background-color: black;
}

.video {
  position: absolute;
  display: none;
  visibility: hidden;
  display: inline-block;
  width: 20px;
  margin-left: 60.5%;
  margin-top: 21%;
} */



#links {
  position: absolute;
  /* left: calc(4% + 400px); top: 20px; */
  margin-left: 42%;
  margin-top: -20px;
  width: 40%;
  z-index: 10;
}
.adaski {
  text-align: center;
  padding: 3px;
  padding-top: 30px;
  width: 80%;
  height: 100px;
  /* margin-left: 33%; */
  margin-top: 4%;
  font-size: 3em;
  font-family: Taviraj;
  color: black;
  background-color: yellow;
  text-transform: uppercase;
  z-index: 10;

  /* animation-name: colorchange;
  animation-duration: 6s;
  animation-iteration-count: infinite; */

}


.info {
  position: absolute;
  display: inline-block;
  padding-top: 1px;
  margin-left: 80%;
  text-align: center;
  margin-top: 40%;
  height: 50px;
  width: 50px;
  color: white;
  font-size: 2em;
  font-family: Adieu;
  background-color: black;
  border-radius: 50%;
  z-index: 12;
}

.explanation {
  position: fixed;
  display: none;
  margin-left: 30%;
  margin-top: 20%;
  height: 300px;
  width: 400px;
  background-color: yellow;
  z-index: 11;
}

.back {
  position: fixed;
  display: none;
  margin-left: 0%;
  margin-top: 0%;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.7;
  z-index: 10;
}

#p5_loading {
  display:none;
}

/* play with margin, float, width in percent and px */



@-webkit-keyframes colorchange {
  0% {

    margin-left: 53%;
  }


  50% {

    margin-left: 80%;
  }

  100% {

    margin-left: 53%;
  }
}
